SECRET_KEY=your-secret-key-change-in-production
DATABASE_URL=postgresql://postgres:postgres@172.17.0.2/hackathon_db
JWT_SECRET_KEY=jwt-secret-string
RESTCOUNTRIES_API_URL=https://restcountries.com/v3.1

